.purchase-history-page{
    position: relative;
  background-color: #F6EBDA;
  height: fit-content;
  min-height: 100vh;
  width: 100vw;
}
.purchase-history-box{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    padding : 20px;
    
}


.purchase-history-container{
    padding-top: 150px;
    
    padding-bottom: 150px;
}
.purchase-history-accordion-header-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.purchase-history-accordion-header-title-item{
flex-grow: 1;
}

.purchase-history-accordion-header-title-view{
    display: flex;
    justify-content: flex-end;
    flex-grow: 2;
}

.purchase-history-accordion-header-title-view-button{
    background-color: rgba(130, 130, 130, 0.381);
    cursor: pointer;
    padding: 8px;
    height: 42px;
    width: fit-content;
    border-radius: 21px;
    user-select: none;
    transition: ease-in-out 0.2s;
}

.purchase-history-accordion-header-title-view-button:hover{
    transition: ease-in-out 0.2s;
    background-color: rgba(130, 130, 130, 0.666);
}

.purchase-history-accordion-header{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 65px;
    width: 100%;
    border-radius: 12px 12px 0 0;
    padding : 12px;
}

.purchase-history-accordion-header.active{
    border-bottom: black 1px solid;
    border-image: radial-gradient(black 80%, transparent 100%);
    border-image-slice: 1;
}

.purchase-history-accordion{
    position: relative;
    min-height: 65px;
    width: 100%;
    border-radius: 12px;
    
    background-color: rgb(245, 226, 192);
}


.purchase-history-accordion-content{
    max-height: 0; 
    overflow: hidden;
    transition: 
    max-height 0.5s ease-in-out, 
    max-height 0s step-end 0s; 
    

}

.purchase-history-accordion-content.active{
    
    background-color: rgb(250, 235, 210);
    overflow-y: auto;
    max-height: 400px;
    transition: 
    max-height 0.5s ease-in-out;
}

.purchase-history-cart-table thead tr th
{
    
    background-color: rgb(250, 235, 210);
}
.purchase-history-cart-table tbody tr td{
    
    background-color: rgb(250, 235, 210);
}

.purchase-history-cart-item-image{
    height: 50px;
    width: 75px;
}

.purchase-history-cart-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding : 5px; 
}