.app-nav-search-container{
    width: 222px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 35px;
background: #FFF;
}
.app-nav-search-input{
    width: 222px;
    height: 40px;
border-radius: 35px;
padding-left: 40px;
background-color: #fff;
text-align: start;
color: #929292;
font-family: Poppins;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: normal;
background: url('../assets/akar-icons_search.png');
background-repeat: no-repeat;
background-position: 12px center;
}