.HeroContentHeader
{
    color: var(--secondary, #2F2105);
font-family: Poppins;
font-size: 48px;
font-style: normal;
font-weight: 600;
line-height: normal;
}

.HeroContentHeader .coffee {
    color: var(--primary, #FF902B);
font-family: Poppins;
font-size: 48px;
font-style: normal;
font-weight: 600;
line-height: normal;
}

.hero-container {
    margin-top: 50px;
    position: relative;
    
  }

  .HeroSubHeader {
  color: var(--light, #7E7D7A);
font-family: Poppins;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;}

.button {
    display: inline-flex;
padding: 12px 32px;
justify-content: center;
align-items: center;
gap: 10px;
}

.button-container {
    border-radius: 33px;
background: var(--secondary, #2F2105);
box-shadow: 0px 4px 32px 0px rgba(223, 195, 124, 0.25);
}

.more-menu-button {
    display: inline-flex;
padding: 10px 24px;
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 33px;

}

.more-menu-text{
    color: #F4AE26;
text-align: center;
font-family: Poppins;
font-size: 12px;
font-style: normal;
font-weight: 700;
line-height: normal;
}


/*.coffee-beans{
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    background-image: url('./assets/bg_img_hero.png'), url('./assets/bg_img_hero.png');
    background-position: 100% -120px, left bottom;
    background-repeat: no-repeat, no-repeat;
    z-index: -1;
}*/